// font-size

$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size22: 22px;
$font-size26: 26px;
$font-size32: 32px;
$font-size40: 40px;
$font-size55: 55px;
$font-size64: 64px;
$font-size72: 72px;
$font-size132: 132px;

// font-weight

$font-weight400: 400;
$font-weight300: 300;

// color

$primary-color: #15171E;
$secondary-contact-title-color: #111827;
$secondary-white: #FFFEFE;
$primary-red: #EC4155;
$secondary-red-error: #F90F07;
$secondary-blue: #0072DE;
$secondary-gray-arrow: #CCCCCC;
$secondary-gray: #868686;
$secondary-card-text-color: #4B5563;
$secondary-no-active-lang: #B1B1B1;
$secondary-bg-most: #BCDDFF;
$secondary-title-team: #1E1B39;

// bg

$primary-background: #F6F6F6;
$secondary-grey-light: #CCC;
$secondary-light-blue: #E7F3FF;
$secondary-footer-bg: #416180;