.heroDotsSvg {
    display: none;
    position: absolute;
    right: 0;
}


@media(min-width: 1280px) {
    .heroDotsSvg {
        display: block;
        position: absolute;
        bottom: 14px;
        right: 103px;
        z-index: 5;
    } 
}