.pricingSvg {
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

@media(min-width: 1280px) {
    .pricingSvg {
        width: 375px;
        height: 172px;
        top: -70px;
    }
}