.parallaxContainer {
    position: relative;
    width: 100%;
}

.parallaxContainer > section {
    position: sticky;
    top: 0;
    height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallaxContainer > section:nth-child(even) {
  background: #694bd1;
}

.parallaxContainer > section > h2 {
    font-size: 8em;
    color: #fff;
}

